FINLYNQ_URL=http://localhost:3000
FINLYNQ_API_TOKEN=changeme
RULES_SERVICE_URL=http://localhost:8081
TELEGRAM_BOT_TOKEN=changeme
TELEGRAM_CHAT_ID=changeme
# ATLAS_FORECAST_PERSISTENCE_ENABLED=false
# ATLAS_FORECAST_READ_API_ENABLED=false
